@import 'src/assets/scss/color';
@import 'src/assets/scss/rwd';
@import 'src/assets/scss/variable';

%text-shadow {
  text-shadow: 0px 3px 6px rgba($black, .25);
}

.Filter {

  &__Info {
    width: 100%;
    height: 140px;
    background-image: url('src/assets/img/bg_orange.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $white;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__Today {
    @extend %text-shadow;
    padding-left: 3px;
    margin-top: -3px;
  }

  &__Weekday {
    font-weight: bold;
    font-size: 36px;
    @extend %text-shadow;
  }

  &__BuyInfo {
    font-size: 14px;
    color:$black;
    background-color: rgba($white, .4);
    width: max-content;
    padding: 3px 1px;

    span {
      color: $font-red;
    }
  }
  &__Desc {
    font-size: 12px;
    margin-top: -5px;
    font-weight: 300;
  }

  &__SearchBox {
    padding: 15px 20px;
    border-bottom: 1px solid $gray-3;
  }

  &__Result {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 265px);
    overflow-y: auto;
  }

  &__ResultItem {
    border-bottom: 1px solid $gray-3;
  }

  &__SearchInput {
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px rgba($black, .25);
    border-radius: 10px;
    padding: 10px 14px 10px 16px;
    input {
      width: calc(100% - 20px);
      outline: none;
      border: 0;
      height: 25px;
      font-size: 16px;
      color: #333;
      
      &::placeholder {
        color: $gray;
      }
    }

    span {
      width: 20px;
      height: 20px;
      background: url('src/assets/icon/Icon_search.svg') no-repeat center center;
      background-size: contain;
      cursor: pointer;
    }
  }

  &__Labels {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  &__Label {
    flex: 1;
    text-align: center;
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid $gray-3;
    border-radius: 7px;
    color: $gray;
    background-color: $white;
    outline: none;
    cursor: pointer;

    & + & {
      margin-left: 12px;
    }

    &--all {
      background-color: $orange;
      color: $white;
      border-color: $orange;
    }

    &--adult {
      background-color: $orange-2;
      color: $white;
      border-color: $orange-2;
    }

    &--child {
      background-color: $yellow;
      color: $white;
      border-color: $yellow;
    }
  }
}