$black: #000000;
$black-2: #333;
$black-3: #666;
$white: #ffffff;

$font-red: #c80000;
$orange: #d65600;
$orange-2: #ff973b;
$yellow: #f8be00;
$yellow-2: #fff8de;
$green: #68af87;
$green-2: #52a67e;

$gray: #cccccc;
$gray-2: #d6d6d6;
$gray-3: #eaeaea;
