$black: #000000;
$black-2: #333;
$black-3: #666;
$white: #FFFFFF;

$font-red: #C80000;
$orange: #D65600;
$orange-2: #FF973B;
$yellow: #F8BE00;
$yellow-2: #FFF8DE;
$green: #68AF87;


$gray: #CCCCCC;
$gray-2: #D6D6D6;
$gray-3: #EAEAEA;
