// ----------------------------------------------------------------------

  //  共同參數設定

// ----------------------------------------------------------------------

$font-style: Roboto,Helvetica Neue,sans-serif; //→全域字型

// ----------------------------------------------------------------------
	// path
// ----------------------------------------------------------------------
$iconPath: 'assets/icon/';

// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1266;

$container-width: 960px; //→網站整體寬度

// ----------------------------------------------------------------------
  // Rwd
// ----------------------------------------------------------------------
// ** min-width
$small: 768px;
$medium: 992px;
$large: 1200px;

// ** 為360px~767px以內的尺寸設定，排除360px以下的尺寸
// example: (min-width: 360px) and (max-width: 767px)
$mobile: 360px;
$mobile_380: 380px;

// ** max-width
$xs : 480px;
$mobile_max: 479px;
$small_max: 767px;
$medium_max: 991px;
$large_max: 1199px;

// ----------------------------------------------------------------------
	// components
// ----------------------------------------------------------------------
$filter-width: 315px;