@import 'src/assets/scss/variable';
@import 'src/assets/scss/color';

#map {
  height: 100%;
}

::ng-deep.popup-title {
  display: flex;
  flex-direction: column;

  span {
    font-size: 12px;
    color: $black-3;

    + span {
      padding-top: 3px;
    }

    &.title {
      color: $black-2;
      font-size: 16px;
    }

    &.update {
      color: #b1b1b1;
      padding-top: 5px;
    }

    &.info {
      cursor: pointer;
      width: max-content;
      span {
        border-bottom: 1px dashed $black-3;
        padding-bottom: 2px;
      }
    }
  }
}

::ng-deep.popup-label {
  display: flex;
  margin-top: 8px;

  span {
    background-color: $gray;
    padding: 8px 5px;
    border-radius: 10px;
    font-size: 14px;
    flex: 1;
    text-align: center;
    cursor: default;

    + span {
      margin-left: 6px;
    }

    &.adult {
      background-color: rgba($orange, 0.2);
      color: $orange;
    }

    &.adult {
      background-color: rgba($orange, 0.2);
      color: $orange;
    }

    &.child {
      background-color: rgba($yellow, 0.2);
      color: $yellow;
    }
  }
}

::ng-deep.popup-error {
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  span:first-of-type {
    color: $font-red;
  }
}

::ng-deep {
  .leaflet-container a.leaflet-popup-close-button {
    top: 3px;
    right: 3px;
  }

  .leaflet-top,
  .leaflet-bottom {
    z-index: 400 !important;
  }

  .popup-btn {
    margin-top: 8px;
    display: flex;

    a {
      background-color: $green-2;
      color: $white;
      font-size: 14px;
      text-decoration: none;
      flex: 1;
      text-align: center;
      padding: 8px 4px;
      border-radius: 10px;

      &:hover {
        background-color: $green-2;
        color: $white;
      }
    }
  }
}
